[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "==19.10b0"
flake8 = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"
codecov = "*"
pytest-pylint = "*"
twine = "*"
pytest-mock = "*"

[packages]
click = "*"

[dev-packages.e1839a8]
path = "."
editable = true

[packages.piicatcher]
editable = true
path = "."

[packages.e1839a8]
path = "."
editable = true
