[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "==19.10b0"
flake8 = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"
codecov = "*"
pytest-pylint = "*"
twine = "*"
pytest-mock = "*"
pipenv-setup = "*"

[packages]
pypi-publisher = "*"
commonregex = "*"
spacy = "*"
tableprint = "*"
pymysql = "*"
cx_Oracle = "*"
psycopg2-binary = "*"
cryptography = "*"
peewee = "*"
pyyaml = "*"
python-magic-bin = "==0.4.14"
"pyathena[sqlalchemy]" = "*"
boto3 = "*"
botocore = "*"
click = "*"
click-config-file = "*"
snowflake-connector-python = "*"