# Dev/Deployment
pypi-publisher
commonregex
spacy
tableprint
pymysql
#Cython is required to compile pymssql in MacOs
cython;platform_system == 'Darwin'
pymssql<3.0
cx_Oracle
psycopg2-binary
cryptography
peewee
pyyaml
python-magic
pyathena[sqlalchemy]
boto3 == 1.12.1
click == 7.0
click-config-file == 0.5.0